<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187776216844-sa8et27v85bkep2139okskn5npqtbh5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187776216844-sa8et27v85bkep2139okskn5npqtbh5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAwOoyhuKk6YgcF_bUEZdxYTTfBCRu8mz4</string>
	<key>GCM_SENDER_ID</key>
	<string>187776216844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>world.aat.live</string>
	<key>PROJECT_ID</key>
	<string>live-30016</string>
	<key>STORAGE_BUCKET</key>
	<string>live-30016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187776216844:ios:b0bb1a31442faea72da329</string>
</dict>
</plist>